
main {
    display: flex;
    flex-direction: row; 
}

.left{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.right-bottom{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.card {
    padding: 0px;
    margin: 0px;
}