body {
    height: 100vh;
}

.bg {
    background-image: url(./images/sunshine.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    display: flex;
    flex-direction: row; 
}

.card-text{
    font-size: 1rem;
}

.left{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.right{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

.right-bottom{
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

.card {
    padding: 0px;
    margin: 0px;
}